<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="core/qunit.css" type="text/css" media="screen" />  
  <script src="../app/static/js/libs/jquery-1.8.0.min.js"></script>
  <script src="core/qunit.js"></script>
  <script src="core/jquery.mockjax.1.4.js"></script>

  <!-- SSHMeIn files goes here -->
  <script src="../app/static/js/libs/amplify.min.js"></script>
  <script src="../app/static/js/sshmein.js"></script>

  <!-- SSHMeIn tests file goes here -->
  <script src="alltests.js"></script>
  
</head>
<body>
  <h1 id="qunit-header">SSHMeIn QUnit tests</h1>
 <h2 id="qunit-banner"></h2>
 <div id="qunit-testrunner-toolbar"></div>
 <h2 id="qunit-userAgent"></h2>
 <ol id="qunit-tests"></ol>
 <div id="qunit-fixture">test markup, will be hidden</div>

  <script>
    var Sshmein = Sshmein || {};

    Sshmein.language = {
      'tunnel_is_on' : "{{ _('Tunnel is ON (Click to turn OFF)') }}",
      'tunnel_is_off' : "{{ _('Tunnel is OFF (Click to turn ON)') }}",
      'refreshing' : "{{ _('Refreshing groups and hosts') }}",
      'delete_host' : "{{ _('Delete host') }}",
      'delete_group' : "{{ _('Delete group') }}",
      'delete_group_confirm' : "{{ _('Are you sure you want to delete permanently the group') }}",
      'and_all_his_hosts' : "{{ _('and all his hosts') }}",
      'after_the_deletion' : "{{ _('You will not be able to access any computer of this group after the deletion') }}",
      'edit_group_name' : "{{ _('Doubleclick to edit the group name') }}",
      'edit_group_description' : "{{ _('Click to edit the group description') }}",
      'delete_host_confirm' : "{{ _('Are you sure you want to delete permanently the host') }}",
      'deleting_host' : "{{ _('Deleting host') }}",
      'download_tunnel_client' : "{{ _('Download tunnel client for host') }}",
      'edit_hostname' : "{{ _('Click to edit hostname') }}",
      'edit_gateway' : "{{ _('Click to edit tunnel gateway') }}",
      'edit_port' : "{{ _('Click to edit the tunnel gateway port') }}",
      'edit_user' : "{{ _('Click to edit the tunnel gateway user') }}",
      'edit_authorized_ip' : "{{ _('Click to edit the authorized IP') }}",
      'loading_sshmein_interface' : "{{ _('Loading SSHMeIn interface') }}",
      'no_host_match' : "{{ _('No host match your search criteria') }}",
      'waiting_for_data' : "{{ _('Waiting for data') }}",
      'deletion_of_group' : "{{ _('Deletion of group') }}",
      'deletion_of_host' : "{{ _('Deletion of host') }}",
      'turning_on' : "{{ _('Turning ON tunnel OK!') }}",
      'turning_off' : "{{ _('Turning OFF tunnel OK!') }}",
      'click_to_edit' : "{{ _('Click to edit') }}"
    };

  </script>
</body>
</html>