html, body{
 background-color: #000000;

}

body, div, a, form, button, p {
  font-size:12px;
  font-family: arial, helvetica;
}

.fltl{
  float:left;
}

.fltr{
	float:right;
}

ul{
	margin:10px 0 0 15px;
	padding:0;
}

a{
  text-decoration:none;
}

button {
  padding:0.2em 1em 0.2em 20px;
  position:relative;
  text-decoration:none;
  margin:3px;
}

button span.ui-icon {
  margin:-8px 5px 0 -20px;
  position:absolute;
  top:50%;
}

button.with-icon{
  padding-left: 20px;
  padding-right: 7px;
}


header{
  padding: 5px 10px 5px 10px;
}


header a{
  float:right;
}

div#flash{
  width:40%;
  height:20px;
  padding:10px;
  display:none;
  position:absolute;
  left:35%;
}

#translate{
  float: right;
  margin:1px 10px 0 0;
}

#loadingDiv{
  text-align:center;
  display:none;
}

div#content{
  padding:10px;
  min-height:400px;
  margin-bottom:25px;
}

footer{
  padding: 5px;
}

aside{
  float:left;
  width:200px;
}

div#aside_header{
  padding:5px 10px;
}

section{
  margin: 0 0 0 210px;

}

div#groups-wrapper, div#hosts-wrapper{
  margin:20px 0 0 0;
}

div#groups, dl#groups_list, div#hosts{
  margin: 10px 0 0 0;
}

dl#groups_list dt{
  font-weight:Bold;
  text-transform:uppercase;
  width:220px;
  line-height:16px;
}

dl#groups_list a{
  display:block;
  width:16px;
  margin-left:320px;
}

div#toolbar{
  padding: 0 10px;
  height:2.3em;
  padding-top:3px;
}

div#groups-toolbar{
  margin-top: 10px;
  padding:0 10px 0 10px;
}

div#hosts-toolbar{
  margin-top: 10px;
  padding:0 0 0 10px;
  width:217px;
}

span#viewby{
  margin-left:25px;
}

div#hosts table{
  width:100%;
  font-size: 0.8em;
}

div#hosts table th{
  text-align: left;
  padding:5px;
}

div#hosts table td{
  text-align: left;
  padding:5px;
}


img.tunnel{
  cursor:pointer;
}

dl.host dt{
  text-transform:uppercase;
  font-weight:bold;
}

dl.host dd{
  margin: 10px 0 0 60px;
}

form dl dt{
  width:220px;
  float:left;
}

form dl dd{
  margin-bottom:10px;
  margin-left:220px;
}

input, textarea{
  width:150px;
}

div.host{
  margin: 0 0 10px 0;
}

div.hosts div.ui-widget-header{
  padding-left:5px;
}

#groups img.tunnel{
  margin:0 10px 0 0;
  position:relative;
  top:7px;
}

#hosts img.tunnel{
  position:relative;
  top:1px;
}

#groups img.delete{
	float:right;
	position:relative;
	top:7px;
}

#groups a.download{
 float:right;
 margin-top:7px;
 margin-right:10px;
}

h3.ui-accordion-header span.tunnel{
  float:right;
  margin: 5px 10px 0 0;
}

dl#groups_list img.delete{
  float:left;
  margin:-5px 10px 0 0;
}

dl#groups_list form{
  display:inline;
}

dl#groups_list dd{
  margin:5px 0 20px 50px;
}

button{
  margin:3px 0 3px 0;
  padding:0.2em;
}

button.new_host{
  float:left;
  margin-right:25px;
}

button#new_group{
  margin-right:30px;
}

a.editgroupname form input{
  width:200px;
}

div#aside_info{
  padding:10px;
}

div#switcher{
  float:right;
  margin-top:1px;
}

form.hostname input{
	width:350px;
}

div.hosts span{
  font-weight:bold;
  font-size: 110%;
}

div.hosts span.edit_authorized_ip{
  font-weight:normal;
  font-size:100%;
}

div.hosts span.edit_hostname{
  font-weight:normal;
  font-size:150%;
}

dl.host{
	padding:0 10px 20px 10px;
}

dl.host dd p{
	line-height:150%;
}

#search-host{
  float: right;
  margin:4px 0 0 0;
}

#search-host input{
  border-radius: 4px;
  height:15px;
  width:150px;
  background: #FFF;
  color:#000;
}

#loader{
  text-align: center;
  margin:10% auto 0 auto;
  font-size:  125%;
}