<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8">
  <title>SSHMeIn</title>
  <link rel="favourites icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link href="{{ url_for('static', filename='css/dot-luv/jquery-ui-1.8.23.custom.css') }}" media="screen" rel="Stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/sshmein.css') }}" media="screen" rel="Stylesheet" type="text/css">
</head>
<body>
  <div id="flash" class="ui-widget ui-corner-all ui-widget-content"></div>
  <div id="loadingDiv">
    <h3>{{ _('Please wait ...') }} <br><br> {{ _('Loading groups and hosts') }}</h3>
  </div>
  <div id="wrapper" class="ui-corner-all ui-widget-content">
    <header class="ui-widget ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">
      <a id="logout" href="#" title="{{ _('Logout') }}" class="ui-state-default">
        <span class="ui-icon ui-icon-closethick">{{ _('Logout') }}</span>
      </a>
      <select name="translate" id="translate">
      {% for k,v in config['LANGUAGES'].items() %}
      <option value="{{ k }}" {% print 'selected="selected"' if g.locale == k %}>{{ v }}</option>
      {% endfor %}
      </select>
      <span class="ui-dialog-title" title="Version {{version}}">
        <img src="{{ url_for('static', filename='images/logo_sshmein.png') }}" border="0" align="left">&nbsp;{{ _('Dashboard') }} - SSHMeIn
      </span>
    </header>
    <div id="content">
        <aside class="ui-corner-all ui-widget-content">
            <div id="aside_header" class="ui-widget ui-widget-header ui-corner-tl ui-corner-tr">
                {{ _('Active tunnels') }}
            </div>
            <div id="aside_info">
            <p id="tunnel_on_count"><span>0</span> {{ _('active tunnel(s)') }}</p>
          <ul></ul>
        </div>
      </aside>
      <section>
        <div id="toolbar" class="ui-widget-content ui-widget-header ui-corner-all">
          <div id="switcher"></div>
          <button id="refresh" title="{{ _('Refresh') }}" class="with-icon ui-state-default ui-corner-all"><span class="ui-icon ui-icon-refresh"></span>{{ _('Refresh') }}</button>
          <!-- Button toggle display -->
          <span id="viewby">
            {{ _('View by') }} :
            <button title="{{ _('Tile view') }}" id="displayByGroups" class="ui-state-default ui-state-active ui-corner-all">{{ _('Groups') }}</button>
            <button title="{{ _('Detail view') }}" id="displayByHosts" class="ui-state-default ui-corner-all">{{ _('Hosts') }}</button>
          </span>
        </div><!-- toolbar -->
      {% block content%} {% endblock %}
      </section>
    </div><!-- content -->
    <footer class="ui-widget ui-widget-header ui-corner-bottom">
      <span id="mailsupport" style="float:right">{{ _('Bugs and comments') }} : <a href="mailto:contact@sshmein.com">contact@sshmein.com</a></span>
      <a href="http://www.sshmein.com">www.sshmein.com</a>
    </footer>
  </div><!-- wrapper -->

  <!-- IE6 PNG support fix -->
  <!--[if lt IE 7]>
      <scriptcharset="utf-8" src="{{ url_for('static', filename='js/libs/unitpngfix.js') }}"></script>
  <![endif]-->
  <script src="{{ url_for('static', filename='js/libs/jquery-1.8.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery-ui-1.8.23.custom.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery.form.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery.multi-accordion-1.5.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery.jeditable.pack.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery.themeswitcher.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery.tmpl.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/amplify.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/notifier.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/moment.min.js') }}"></script>
{% if g.locale != 'en' %}
  <script src="{{ url_for('static', filename='js/libs/moment-%s.min.js' % g.locale) }}"></script>
{% endif %}
  <script src="{{ url_for('static', filename='js/sshmein.js') }}"></script>
  <script src="{{ url_for('static', filename='js/global.js') }}"></script>



  <!-- jQuery templates -->
    <script type="text/x-jquery-tmpl" id="groupTemplate">
    <div id="group_${id}" data-groupname="${name}" class="group">
        <h3>
            <span id="tunnelON_${id}" class="tunnel"></span>
            <a href="#"><span id="${id}" class="editgroupname">${name}</span></a>
        </h3>
        <div class="hosts">
            <a href="#" class="delgroup" id="delgroup_${id}" title="{{ _('Delete group') }} ${name} "><span class="ui-icon ui-icon-circle-close fltr">{{ _('Delete group') }}</span></a>
            <p id="${id}" class="editgroupdescription">${description}</p>
            <div class="ui-widget-header ui-corner-all ui-helper-clearfix">
                <button id="btn_new_host_${id}" title="{{ _('Add a new host') }}" class="new_host with-icon ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span>{{ _('New Host') }}</button>
                <div class="filter ui-helper-clearfix">{{ _('View') }} :
                    <button title="{{ _('View all tunnels') }}" class="view_all ui-state-default ui-state-active ui-corner-left">{{ _('ALL') }}</button>
                    <button title="{{ _('View tunnels ON only') }}" class="view_on ui-state-default">{{ _('Tunnel ON') }}</button>
                    <button title="{{ _('View tunnels OFF only') }}" class="view_off ui-state-default ui-corner-right">{{ _('Tunnel OFF') }}</button>
                </div>
            </div>
        </div>
    </div>
    </script>

    <!-- Host template for groups view -->
    <script type="text/x-jquery-tmpl" id="hostTemplate">
    <dl class="host ${style_class}" data-host="${id}">
      <dt>
        <img src="{{ url_for('static', filename='images/delete.png') }}" class="delete" border="0" title="{{ _('Delete host') }} ${hostname}">
        <a class="download" href="/hosts/broker/${id}">
            <img title="{{ _('Download tunnel client for host') }} ${hostname}" src="{{ url_for('static', filename='images/download_config.png') }}" border="0">
        </a>
        <img class="tunnel ${style_class}" src="{{ url_for('static', filename='images/') }}${img_src}" border="0" title="${img_title}"><span class="edit_hostname">${hostname}</span>
        </dt>
        <dd>
            {{ _('Tunneling to') }} <span class="edit_gateway_host">${gateway_host}</span> {{ _('on port') }} <span class="edit_gateway_port">${gateway_port}</span> {{ _('with user') }} <span class="edit_gateway_user">${gateway_user}</span>
        </dd>
        <dd>
            <p>
            {{ _('Tunnel key') }} : ${tunnel_key}<br>
            {{ _('Authorizing request from this IP only') }} : <span class="edit_authorized_ip">${authorized_ip}</span><br>
            {{ _('Last request from host') }} : ${lastcheck}<br>
            {{ _('Last log message') }} : ${log}
          </p>
        </dd>
    </dl>
    </script>

    <!-- Host template for hosts view table -->
    <script type="text/x-jquery-tmpl" id="hostsTable">
      <table>
        <thead class="ui-widget-header">
          <th>{{ _('Status') }}</th>
          <th>{{ _('Hostname') }}</th>
          <th>{{ _('Group') }}</th>
          <th>{{ _('Tunneling to') }}</th>
          <th>{{ _('Tunnel key') }}</th>
          <th>{{ _('Last request') }}</th>
          <th>{{ _('Last log message') }}</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </script>

    <!-- Host template for hosts view row -->
    <script type="text/x-jquery-tmpl" id="hostTemplateRow">
      <tr data-host="${id}">
        <td>
          <img class="tunnel ${style_class}" src="{{ url_for('static', filename='images/') }}${img_src}" border="0" title="${img_title}">
        </td>
        <td>
          <span class="edit_hostname">${hostname}</span>
        </td>
        <td data-group="${group_id}" title="{{ _('Click to view this group') }}">${groupname}</td>
        <td>
          <span class="edit_gateway_user">${gateway_user}</span>@<span class="edit_gateway_host">${gateway_host}</span>:<span class="edit_gateway_port">${gateway_port}</span>
        </td>
        <td>${tunnel_key}</td>
        <td>${lastcheck}</td>
        <td>${log}</td>
        <td>
          <a class="download" href="/hosts/broker/${id}">
            <img title="{{ _('Download tunnel client for') }} ${hostname}" src="{{ url_for('static', filename='images/download_config.png') }}" border="0">
          </a>
        </td>
        <td>
          <img src="{{ url_for('static', filename='images/delete.png') }}" class="delete" border="0" title="{{ _('Delete host') }} ${hostname}">
        </td>
      </tr>
    </script>

  <script>
    var Sshmein = Sshmein || {};

    Sshmein.language = {
      'tunnel_is_on' : "{{ _('Tunnel is ON (Click to turn OFF)') }}",
      'tunnel_is_off' : "{{ _('Tunnel is OFF (Click to turn ON)') }}",
      'refreshing' : "{{ _('Refreshing groups and hosts') }}",
      'delete_host' : "{{ _('Delete host') }}",
      'delete_group' : "{{ _('Delete group') }}",
      'delete_group_confirm' : "{{ _('Are you sure you want to delete permanently the group') }}",
      'and_all_his_hosts' : "{{ _('and all his hosts') }}",
      'after_the_deletion' : "{{ _('You will not be able to access any computer of this group after the deletion') }}",
      'edit_group_name' : "{{ _('Doubleclick to edit the group name') }}",
      'edit_group_description' : "{{ _('Click to edit the group description') }}",
      'delete_host_confirm' : "{{ _('Are you sure you want to delete permanently the host') }}",
      'deleting_host' : "{{ _('Deleting host') }}",
      'download_tunnel_client' : "{{ _('Download tunnel client for host') }}",
      'edit_hostname' : "{{ _('Click to edit hostname') }}",
      'edit_gateway' : "{{ _('Click to edit tunnel gateway') }}",
      'edit_port' : "{{ _('Click to edit the tunnel gateway port') }}",
      'edit_user' : "{{ _('Click to edit the tunnel gateway user') }}",
      'edit_authorized_ip' : "{{ _('Click to edit the authorized IP') }}",
      'loading_sshmein_interface' : "{{ _('Loading SSHMeIn interface') }}",
      'no_host_match' : "{{ _('No host match your search criteria') }}",
      'waiting_for_data' : "{{ _('Waiting for data') }}",
      'deletion_of_group' : "{{ _('Deletion of group') }}",
      'deletion_of_host' : "{{ _('Deletion of host') }}",
      'turning_on' : "{{ _('Turning ON tunnel OK!') }}",
      'turning_off' : "{{ _('Turning OFF tunnel OK!') }}",
      'click_to_edit' : "{{ _('Click to edit') }}"
    };

  </script>

</body>
</html>
